body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

h3 {
    color: #000;
    font-size: 12px;
}